<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="nutes.intelimed"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="nutes.intelimed.controller.activity.Login"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="test.UsuarioDaoTest"
					android:label="@string/app_name">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.activity.MainMenu" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar"/>			
        <activity android:name=".controller.activity.CadastroPaciente" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".controller.activity.MenuPaciente" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".controller.activity.ListarPaciente" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".controller.activity.SearchPaciente" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".controller.activity.UpdatePaciente" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar"/>
    </application>  
</manifest>